body {
  font-family: Arial, sans-serif; /* OBLIGATORIO */
  font-size: 16px; /* OBLIGATORIO */
  background-color: #f9f9f9;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  width: 1000px;
  min-height: 750px; /* altura mínima */
  height: auto; /* crecer según contenido, porque si no el botón de guardar salia volando fuera del form-container si se agrandaba la desc jaj */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.80);
  background-color: #fff;
  border: 1px solid black;

}

h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
  font-size: 50px;
}

form {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 25px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

textarea {
  resize: vertical;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 8px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.descripcion-group {
  max-width: 1000px;
  margin-top: 35px;
}

button#guardarBtn {
  max-width: 350px;
  width: 100%;
  background-color: #1aab8a; /* OBLIGATORIO */
  color: white;
  font-size: 16px; /* OBLIGATORIO */
  padding: 18px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 50px;
  transition: background-color 0.3s ease;
}

button#guardarBtn:hover {
  background-color: #179f7f;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type="text"], 
select, 
textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: 1px solid black;
}

input[type="checkbox"] {
  accent-color: #007bff;
}


